body {
  background: #000;
  color: #fff;
  padding: 25px;
  font-family: sans-serif;
}

.clock-box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  flex-direction: column;
  align-items: center;
}

.clock {
  background-color: black;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid 5px white;
  display: flex;
  justify-content: center;
  align-items: center
}

.hora {
  position: absolute;
  background-color: white;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.hora::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
}

.minute {
  background-color: white;
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 50%;
}

.minute::after {
  content: '';
  position: absolute;
  width: 65px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
}

.date {
  font-size: 20px;
  text-align: center;
  border: 3px white solid;
  border-radius: 30px;
  padding: 10px;
}